# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# Database
*.db
*.sqlite
*.sqlite3

# Environment
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log